@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_writerLayout.cshtml";
}

<h2>İçerik Giriş </h2>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingID" value="@ViewBag.d" />
        @Html.Label("İçeriğinizi yazın") @Html.TextAreaFor(x => x.ContentValue,4,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)<br />
        <button class="btn btn-outline-success">Kaydet</button>
    </div>
}

